<p id="notice"><%= notice %></p>

<h1>Recipe Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_lists.each do |recipe_list| %>
      <tr>
        <td><%= recipe_list.name %></td>
        <td><%= link_to 'Show', recipe_list %></td>
        <td><%= link_to 'Destroy', recipe_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe List', new_recipe_list_path %> |
<%= link_to 'Show all Recipes', recipes_path %>
